* {
    box-sizing: border-box;
}

body {

    font-family:  "Roboto", sans-serif;
    background-color: #eff5f8;
    color: #001b44;
    
}

.card {
    display: block;
    width: 60vw;
    margin: 60px auto;
    border: 1px solid #eceff1;
    border-radius: 8px;
    background-color: #F5F5F5;
    box-shadow:  rgba(60, 64, 67, 2) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
    padding: 8px;
}

li .dropdown-item {
    cursor: pointer;
}

.error-msg {
    padding: 2px 4px;
    color: red;
}